<MudDialog>
    <DialogContent>
        @*Si estamos en la página de modificar, mostramos un TextField con el nombre actual de la etiqueta.*@
        @if (IsModify)
        {
            <MudTextField @bind-Value="@Contenido" Label="Nombre de la etiqueta" Variant="Variant.Filled" />
        }

        @*Si estamos en la página de eliminar, mostramos mensaje de confirmación de la acción.*@
        @if (IsDelete)
        {
            <MudText><h3 style="font-weight: normal;">Estas a punto de eliminar la etiqueta <em>@Etiqueta.Name</em>.</h3></MudText>
            <MudText Typo="Typo.body1"><strong>Estás seguro?</strong></MudText>
            <MudText Typo="Typo.body2" Class="mt-2">Esta acción <b><i>NO</i></b> se puede deshacer!</MudText>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>

        @*Si estamos en la página de modificar, mostramos el botón de guardar cambios*@
        @if (IsModify)
        {
            <MudButton OnClick="ModifyAsync" Variant="Variant.Filled" Color="Color.Warning">Guardar Cambios</MudButton>
        }

        @*Si estamos en la página de eliminar, mostramos el botón de eliminar.*@
        @if (IsDelete)
        {
            <MudButton OnClick="DeleteAsync" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Eliminar!</MudButton>
        }
    </DialogActions>
</MudDialog>