<MudDialog>
    <DialogContent>
        @if(Modify){
            <MudTextField @bind-Value="@Contenido" Label="Nombre de la etiqueta" Variant="Variant.Filled" />
        }

        @if(Delete){
            <MudText><h3 style="font-weight: normal;">Estas a punto de eliminar la etiqueta <i>@Etiqueta.Name</i>.</h3></MudText>
            <MudText Typo="Typo.body1"><b>Estás seguro?</b></MudText>
            <MudText Typo="Typo.body2" Class="mt-2">Esta acción <b><i>NO</i></b> se puede deshacer!</MudText>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        @if(Modify){
            <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Warning">Guardar Cambios</MudButton>
        }

        @if(Delete){
            <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Eliminar!</MudButton>
        }
    </DialogActions>
</MudDialog>