@page "/listar-etiquetas"

<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
    Listar Etiqueta
</MudText>
@if(etiquetas is null){
    <!--Cargando..-->
    <MudText Typo="Typo.body1">
        Cargando...
    </MudText>
}else{
    @if(etiquetas.Any()){

        <div class="m-6">
            @foreach (var etiqueta in etiquetas)
            {
                <EtiquetaComponent Etiqueta="etiqueta" />
            }
        </div>
        
    }else{
        <MudText Typo="Typo.body1">
            No se han encontrado etiquetas
        </MudText>
    }
}