@page "/eliminar-tarea"
@using GestorTareas.Client.Components.Tarea

<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
    Eliminar Tarea
</MudText>

@*Muestra el selector de tareas para elegir cual eliminar*@
<SelectorTareaComponent LabelContent="Selecciona la tarea que quieres eliminar" OnTareaSelected=@(GetTareaSelected) />

@*Cuando se haya seleccionado una tarea, se mostrarà dicha tarea*@
@if (!(Tarea is null))
{
    <div class="align-content-center d-flex flex-grow-1 gap-4 mt-6">
        @*Muestra una tarea con los elementos necessarios para eliminarla*@
        <TareaComponent Tarea="Tarea" TareaStatus="Tarea.IsCompleted" ShowDeleteButton="true" />
    </div>
}