@page "/listar-tareas"

<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
    Listado Tareas
</MudText>

@if (tareas is null)
{
    <MudText Typo="Typo.body1">
        Cargando...
    </MudText>
}
else
{
    @if (tareas.Any())
    {
        <div class="d-flex flex-grow-1 gap-4">

        @foreach (var tarea in tareas)
        {
            <TareaComponent Tarea="tarea" TareaStatus="tarea.IsCompleted" OnStatusChanged=@(async x => await UpdateTareasCompleted(x, tarea.Id)) />
        }
        </div>
    }
    else
    {
        <MudText Typo="Typo.body1">
            No se han encontrado tareas
        </MudText>
    }
}
