@page "/modificar-tarea"
@using GestorTareas.Client.Components.Tarea

<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
    Modificar Tarea
</MudText>


    <SelectorTareaComponent Tareas="Tareas" LabelContent="Selecciona la tarea que quieres modificar" OnTareaSelected=@(GetTareaSelected) />

@if (!(Tarea is null))
{
    <div class="align-content-center d-flex flex-grow-1 gap-4 mt-6">
        <TareaComponent Tarea="Tarea" TareaStatus="Tarea.IsCompleted" Action="Modify"  />
    </div>
}